@import url("bootstrap/bootstrap.css");

html, body {
    height: 100%;
}

.bg-gradient-custom {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255,255,255,1) 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 300px;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.navbar-secondary {
    width: 200px;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.navbar-bg{
    background-color: #e4e4e5;
}

.navbar-logo{
    height: 125px;
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;   
}

.navbar-logo img{
    height: 1.6em;
}

.navbar-nav {
    width: 100%;
    list-style: none;
}

.navbar-nav .nav-link {
    display: flex;
    /*align-items: center;*/
    padding: 12px 0px 12px 40px;
}

.navbar-nav .selected a{
    font-weight: bold !important;
    border-right: 3px solid black;
}

.logout {
    margin-top: auto;
    color: #ff4d4d;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.save-button-editor {
    width: 85px;
    height: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin: 36px;
}

/*
td.details-control {
    cursor: pointer;
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
}
tr.shown td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}*/



.dataTables_wrapper .dt-buttons {
    float: left;
}

.dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_info {
    margin-right: 1rem;
}

.dataTables_paginate {
    margin-left: auto;
}